Source: ros-melodic-rx-service-tools
Section: misc
Priority: optional
Maintainer: Tim Clephas <tim.clephas@nobleo.nl>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-rx-service-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-wxgtk3.0, python-yaml, ros-melodic-roslib, ros-melodic-rospy
Description: Graphical tools to interact with ROS services.
